  <footer>
      <div id="footer" class="footerDiv1">
        <span class="logoSpan">
          <h1 class="logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/f/f0/Ministry_of_Health_India.svg" alt=""> 
          </h1>
        </span>
        <div>
         
        </div>
      </div>
      <div class="footerDiv2">
        <div class="footerDiv-top">
           <ul>
          <li><strong>VACCINATION SERVICES</strong></li>
          <li>Register Members</li>
          <li>Search Vaccination Centers</li>
          <li>Book Vaccination Slots</li>
          <li>Download Certificate</li>
          <li>Manage Appointment</li>
         </ul>
         <ul>
          <li><strong>PLATFORMS</strong></li>
           <li> Co-WIN International </li>
 <li> Vaccinator </li>
 <li> Department Login </li>
 <li> Verify Certificates </li>
 <li> Vaccination Statistics </li>
         </ul>
         <ul>
          <li><strong>RESOURCES</strong></li>
          <li> How To Get Vaccinated </li>
<li> Dos and Don'ts </li>
<li> Overview </li>
<li> API Guidelines </li>
<li> Open API's </li>
<li> Grievance Guidelines </li>
         </ul>
         <ul>
          <li><strong>CONTACT US</strong></li>
          <li>Helpline: +91-11-23978046 (Toll Free - 1075 )</li>
          <li>Technical Helpline: 0120-4783222</li>
         </ul>
        </div>
        <div class="footerDiv-bottom">
        <ul>
          <li><strong>CHILD</strong></li>
          <li>1098</li>
        </ul>
        <ul>
          <li><strong>MENTAL HEALTH</strong></li>
          <li>08046110007</li>
        </ul>
        <ul>
          <li><strong>SENIOR CITIZENS</strong></li>
          <li>14567</li>
        </ul>
        <ul>
          <li><strong>NCW</strong></li>
          <li>7827170170</li>
        </ul>
        </div>
        
        </div>
      
        </div>
      </div>
    </footer>
    <div class="whiteBar">
      <h>Copyright © 2023 Go-WIN. All Rights Reserved</h>
      <div><img style="width: 5vmax;" class="whitebarLogo1" src="https://upload.wikimedia.org/wikipedia/commons/f/f0/Ministry_of_Health_India.svg" alt="">
      <img src="https://www.undp.org/sites/g/files/zskgke326/files/2022-04/undp-logo-blue.svg" alt=""></div>
      
      <h>Terms of Service 
Privacy Policy</h>
    </div>
 </body>
</html>
