 <nav>
  <h2><img src="https://upload.wikimedia.org/wikipedia/commons/f/f0/Ministry_of_Health_India.svg" alt="">  GoWin</h2>
    <ul>
      <li>DASHBOARD</li>
      <li>VERIFY CERTIFICATE</li>
      <li>FAQ</li>
      <li>PARTNERS</li>
      <li class="d-flex"><button><a class="text-decoration-none text-dark" href="/signin">REGISTER/SIGNIN</a></button></li>
    </ul>
  </nav>