<%- include("./partials/header") %>
<%- include("./partials/nav") %>

<div class="sorryBox gap-3">
    <h1>Congratulations! You have booked a slot.</h1>
    <button class="btn btn-lg btn-info mb-5"><a class="text-decoration-none text-light" href="/home">See Details</a></button>
</div>


<%- include("./partials/footer") %>