<%- include("./partials/header") %>
<%- include("./partials/nav") %>

<div class="sorryBox w-100 h-100 bg-dark-subtle gap-3 pt-5">
    <span class="d-flex justify-content-around w-75 mt-5"><h1>FAQ</h1></span>
    <div class="rounded w-75 h-75 bg-light-subtle p-2">
      <h5>Q1. Is there a mobile app that needs to be installed to register for vaccination?</h5>
     <p>There is no authorised mobile app for registering for vaccination in India except Aarogya Setu and Umang Apps. You need to log into the Co-WIN portal at cowin.gov.in. Alternatively, you can also register for vaccination through the Aarogya Setu App or Umang apps.</p> 
      <h5>Q2. Which age groups can register for vaccination on the Co-WIN portal?</h5>
     <p>All beneficiaries who have completed 12 years of age and above on the day of registration (birth year 2011 or earlier) can register for vaccination.</p> 
      <h5>Q3. Is online registration mandatory for COVID-19 vaccination?</h5>
     <p>No, vaccination centers provide for a limited number of on-spot registration slots every day. Beneficiaries can register online or walk-in to vaccination centers where the vaccination team staff can register a beneficiary. In general, all beneficiaries are recommended to register online and schedule vaccination in advance for a hassle-free vaccination experience.</p> 
      <h5>Q4. How many people can be registered in the Co-WIN portal through one mobile number?</h5>
     <p>Up to 6 people can be registered for vaccination using the same mobile number.</p> 
      <h5>Q5. How can beneficiaries with no access to smart phones, computers or internet manage online registration?</h5>
     <p>Up to 6 people can be registered for vaccination using the same mobile number. Beneficiaries can take help from friends or family for online registration.</p> 
      <h5>Q6. Is it necessary to register again for 2nd dose or Precaution dose?</h5>
     <p>No, registration is required only once to create a beneficiary account on Co-WIN. Thereafter, appointments can be booked, both online or onsite, and vaccination can be availed from the same account. It is recommended that a beneficiary should register only once so that proper records are maintained. It is also recommended that the registration should be done through an active mobile number to avoid problems in future.</p> 



    </div>
   
</div>


<%- include("./partials/footer") %>