<%- include("./partials/header") %>
<%- include("./partials/nav") %>

<div class="forgetPassBox w-100 h-100 d-flex flex-column justify-content-center align-items-center">
  <h1 class="mb-4">Enter Existing Email</h1>
<form class="forgetForm gap-2 w-50 d-flex flex-column justify-content-center align-items-center" action="/getEmail" method="post">
  <input
    class="form-control w-50"
    type="email"
    placeholder="John@123gmail.com"
    name="email"
  />
 
  <button class="forgetBtn btn btn-success"> Search Account</button>
  <h6>Don't have an account? <a href="/signup">Signup</a> | Already have an account? <a href="/signin">Signin</a> </h6>

</form>
</div>


<%- include("./partials/footer") %>
