<%- include("partials/header") %> <%- include("partials/nav") %>
<div class="homeMain">
  <div class="slotViewWindow">
    <h1 class="headHome">Welcome to Go-win INDIA</h1>
    <div class="detailsBox">
      <div class="detailsBox-top">
        <div class="detailsBox-top-left">
          <i class="ri-user-fill"></i>
        </div>
        <div class="detailsBox-top-right">
          <div class="detailsBoxNameDiv">
            <h3 class="userName">Prabha Chakravarti</h3>
          </div>
          <div class="detailsBoxInfoDiv">
            <div>
              <h6 class="text-success"><strong>REF ID</strong></h6>
              <h6 class="text-secondary">115151</h6>
            </div>
            <div>
              <h6 class="text-success"><strong>SECRET CODE</strong></h6>
              <h6 class="text-secondary">5441</h6>
            </div>
            <div>
              <h6 class="text-success"><strong>PHOTO ID</strong></h6>
              <h6 class="text-secondary">ADHAAR CARD</h6>
            </div>
            <div>
              <h6 class="text-success"><strong>YEAR OF BIRTH</strong></h6>
              <h6 class="text-secondary">1981</h6>
            </div>
            
          </div>
        </div>
      </div>
      <div class="detailsBox-bottom">
        <div></div>
        <div></div>
      </div>
    </div>
    
  </div>
</div>
<%- include("partials/footer") %>
