<%- include("partials/header") %>>

<div class="main">
  <%- include("partials/nav") %>
  <div class="page1 d-flex">
    <div class="p1-left"></div>
    <div class="p1-right">
      <h1>
        <span>H</span>istoric & <span>U</span>nparalleled
        <span>A</span>chievement ! <span>India’s</span> <span>G</span>lorious
        Journey of
      </h1>
      <h2>
        <span>"</span>India is set to defeat Covid-19. Every Indian is making it
        possible.<span>"</span>
        - PM Narendra Modi
      </h2>
    </div>
  </div>
  <div class="page2">
    <div>
      <h1>Book your Appointments easily</h1>
      <p>Co-WIN application is the digital back bone for the vaccination drive in India. With scaling up of
        vaccination; the number of vaccination facilities and sessions has to be increased and managed
        effectively. The CO-WIN application will facilitate the citizen with an option to register and schedule
        the vaccination session online in Centers of their choice. The Citizen self-registration module will
        ensure fool-proof identification of deserving candidates for receiving the vaccines.</p>
      </div>
      <img src="https://www.cowin.gov.in/assets/images/Step_1.svg" alt="" />
    </div>
  <div class="page3">
    <img src="https://www.cowin.gov.in/assets/images/Step_2.svg" alt="" /> 
    <div>
      <h1>Get your Vaccination Safely</h1>
      <p>The CO-WIN application will facilitate the citizen with an option to register and schedule
        the vaccination session online in Centers of their choice. The Citizen self-registration module will
        ensure fool-proof identification of deserving candidates for receiving the vaccines.</p>
      </div>
    </div>
    <div class="page4">
    <div>
      <h1>Download your Vaccination certificate</h1>
      <p>Government of India is taking all necessary steps to ensure that the nation is prepared to face the
challenge and threat posed by the growing contagion of COVID-19. The exemplary groundwork and
precaution advisory by the Government has helped in containing the spread of the virus in our
country.</p>
      </div>
        <img src="https://www.cowin.gov.in/assets/images/Step_3.svg" alt="" /> 

    </div>
    
  </div>
  
  <%- include("partials/footer") %>
  