<%- include("partials/header") %>>

<div class="main">
  <%- include("partials/nav") %>
  <div class="page1 d-flex">
    <div class="p1-left"></div>
    <div class="p1-right">
      <h1>
        <span>H</span>istoric & <span>U</span>nparalleled
        <span>A</span>chievement ! <span>India’s</span> <span>G</span>lorious
        Journey of
      </h1>
      <h2>
        <span>"</span>India is set to defeat Covid-19. Every Indian is making it
        possible.<span>"</span>
        - PM Narendra Modi
      </h2>
    </div>
  </div>
  <div class="page2">
    <div>
      <h1>Book your Appointments easily</h1>
      <p>Co-WIN application is the digital back bone for the vaccination drive in India. With scaling up of
        vaccination; the number of vaccination facilities and sessions has to be increased and managed
        effectively. The CO-WIN application will facilitate the citizen with an option to register and schedule
        the vaccination session online in Centers of their choice. The Citizen self-registration module will
        ensure fool-proof identification of deserving candidates for receiving the vaccines.</p>
      </div>
      <img src="https://www.cowin.gov.in/assets/images/Step_1.svg" alt="" />
    </div>
  <div class="page3">
    <img src="https://www.cowin.gov.in/assets/images/Step_2.svg" alt="" /> 
    <div>
      <h1>Get your Vaccination Safely</h1>
      <p>The CO-WIN application will facilitate the citizen with an option to register and schedule
        the vaccination session online in Centers of their choice. The Citizen self-registration module will
        ensure fool-proof identification of deserving candidates for receiving the vaccines.</p>
      </div>
    </div>
    <div class="page4">
    <div>
      <h1>Download your Vaccination certificate</h1>
      <p>Government of India is taking all necessary steps to ensure that the nation is prepared to face the
challenge and threat posed by the growing contagion of COVID-19. The exemplary groundwork and
precaution advisory by the Government has helped in containing the spread of the virus in our
country.</p>
      </div>
        <img src="https://www.cowin.gov.in/assets/images/Step_3.svg" alt="" /> 

    </div>
     <footer>
      <div class="footerDiv1">
        <span class="logoSpan">
          <h1 class="logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/f/f0/Ministry_of_Health_India.svg" alt=""> 
          </h1>
        </span>
        <div>
         
        </div>
      </div>
      <div class="footerDiv2">
        <div class="footerDiv-top">
           <ul>
          <li><strong>VACCINATION SERVICES</strong></li>
          <li>Register Members</li>
          <li>Search Vaccination Centers</li>
          <li>Book Vaccination Slots</li>
          <li>Download Certificate</li>
          <li>Manage Appointment</li>
         </ul>
         <ul>
          <li><strong>PLATFORMS</strong></li>
           <li> Co-WIN International </li>
 <li> Vaccinator </li>
 <li> Department Login </li>
 <li> Verify Certificates </li>
 <li> Vaccination Statistics </li>
         </ul>
         <ul>
          <li><strong>RESOURCES</strong></li>
          <li> How To Get Vaccinated </li>
<li> Dos and Don'ts </li>
<li> Overview </li>
<li> API Guidelines </li>
<li> Open API's </li>
<li> Grievance Guidelines </li>
         </ul>
         <ul>
          <li><strong>CONTACT US</strong></li>
          <li>Helpline: +91-11-23978046 (Toll Free - 1075 )</li>
          <li>Technical Helpline: 0120-4783222</li>
         </ul>
        </div>
        <div class="footerDiv-bottom">
        <ul>
          <li><strong>CHILD</strong></li>
          <li>1098</li>
        </ul>
        <ul>
          <li><strong>MENTAL HEALTH</strong></li>
          <li>08046110007</li>
        </ul>
        <ul>
          <li><strong>SENIOR CITIZENS</strong></li>
          <li>14567</li>
        </ul>
        <ul>
          <li><strong>NCW</strong></li>
          <li>7827170170</li>
        </ul>
        </div>
        
        </div>
      
        </div>
      </div>
    </footer>
    <div class="whiteBar">
      <h>Copyright © 2023 Go-WIN. All Rights Reserved</h>
      <div><img style="width: 5vmax;" class="whitebarLogo1" src="https://upload.wikimedia.org/wikipedia/commons/f/f0/Ministry_of_Health_India.svg" alt="">
      <img src="https://www.undp.org/sites/g/files/zskgke326/files/2022-04/undp-logo-blue.svg" alt=""></div>
      
      <h>Terms of Service 
Privacy Policy</h>
    </div>
  </div>
  
  <%- include("partials/footer") %>
  