<%- include("./partials/header") %>
<%- include("./partials/nav") %>

<div class="sorryBox w-100 h-100 bg-dark-subtle gap-3 pt-5">
  <div class="partnersBox rounded bg-light-subtle d-flex">
      <h1 class="partnerHead">OUR PARTNERS</h1>
      <div class="partnerLine">
      <div class="rounded ">
        <img src="https://www.cowin.gov.in/assets/images/trigyn-logo.svg" alt="">
      </div>
      <div class="rounded   ">
        <img src="https://www.cowin.gov.in/assets/images/Bajaj_Finserv_Health.svg" alt="">
      </div>
      <div class="rounded   ">
        <img src="https://www.cowin.gov.in/assets/images/xiScieniq%20Software%20India%20Private%20Limited.svg" alt="">
      </div>
      <div class="rounded   ">
        <img src="https://www.cowin.gov.in/assets/images/whatsapp.svg" alt="">
      </div>
      <div class="rounded   ">
        <img src="https://www.cowin.gov.in/assets/images/MRE%20Services%20India.com%20Private%20Limited.svg" alt="">
      </div>
      <div class="rounded   ">
        <img src="https://www.cowin.gov.in/assets/images/Apollo.svg" alt="">
      </div>
      </div>
      <div class="partnerLine">
 <div class="rounded ">
        <img src="https://www.cowin.gov.in/assets/images/Haqdarshak.svg" alt="">
      </div>
      <div class="rounded   ">
        <img src="https://www.cowin.gov.in/assets/images/Spice%20Money%20Limited.svg" alt="">
      </div>
      <div class="rounded   ">
        <img src="https://www.cowin.gov.in/assets/images/SWASTH%20Arogya.svg" alt="">
      </div>
      <div class="rounded   ">
        <img src="https://www.cowin.gov.in/assets/images/National%20Health%20Mission,%20Karnataka.svg" alt="">
      </div>
      <div class="rounded   ">
        <img src="https://www.cowin.gov.in/assets/images/IMPULSE.svg" alt="">
      </div>
      <div class="rounded   ">
        <img src="https://www.cowin.gov.in/assets/images/Indian%20Institute%20of%20Technology%20Bombay.svg" alt="">
      </div>
      </div>
      <div class="partnerLine">
 <div class="rounded ">
        <img src="https://www.cowin.gov.in/assets/images/PAYTM.svg" alt="">
      </div>
      <div class="rounded   ">
        <img src="https://www.cowin.gov.in/assets/images/ekacare.svg" alt="">
      </div>
      <div class="rounded   ">
        <img src="https://www.cowin.gov.in/assets/images/MicrosoftTeams-image%20(1).svg" alt="">
      </div>
      <div class="rounded   ">
        <img src="https://www.cowin.gov.in/assets/images/BUY%20NSWIPE.svg" alt="">
      </div>
      <div class="rounded   ">
        <img src="https://www.cowin.gov.in/assets/images/csc-academy.svg" alt="">
      </div>
      <div class="rounded   ">
        <img src="https://www.cowin.gov.in/assets/images/Gig%20labs.svg" alt="">
      </div>
      </div>
      <div class="partnerLine">
 <div class="rounded ">
        <img src="https://www.cowin.gov.in/assets/images/Connect%20&%20heal.svg" alt="">
      </div>
      <div class="rounded   ">
        <img src="https://www.cowin.gov.in/assets/images/digiLocker_logo.svg" alt="">
      </div>
      <div class="rounded   ">
        <img src="https://www.cowin.gov.in/assets/images/aarogya-setu-logo-png-free-download-11597263051zbxpc7jmy1.svg" alt="">
      </div>
      <div class="rounded   ">
        <img src="https://www.cowin.gov.in/assets/images/mygov-logo.svg" alt="">
      </div>
      <div class="rounded   ">
        <img src="https://www.cowin.gov.in/assets/images/jio.svg" alt="">
      </div>
      <div class="rounded   ">
        <img src="https://www.cowin.gov.in/assets/images/Step%20one.svg" alt="">
      </div>
      </div>
     
      



    </div>
   
</div>


<%- include("./partials/footer") %>