<%- include("./partials/header") %>
<%- include("./partials/nav") %>

<div class="signinMain">
    <div class="signinLeft">
        <h2 class="mb-3">Sign Up for Vaccination</h2>
        <form class="gap-3" action="/signup" method="post">
    <input class="form-control" type="text" placeholder="username" name="username">
    <input class="form-control" type="email" placeholder="email" name="email">
    <input class="form-control" type="password" placeholder="password" name="password">
    <button class="btn">Sign-up</button>
    <h6>Already have an account? <a href="/signin">Signin</a> | <a href="/getEmail">Forget Password?</a></h6>
</form>
    </div>
    <div class="signinRight">

    </div>
    

</div>



<%- include("./partials/footer") %>