*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;

}

.main{
    width: 100vw;
}

nav{
    position: fixed;
    z-index: 10000;
    top: 0;
    width: 100vw;
    height: 9vh;
    background-color: #79797a;
    /* background-color: #252830; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5vmax 3vmax;
    font-family: "Roboto";



    
}
nav >h2{
    color: #bdc9c1;
}
nav >h2>img{
    width: 8vmax;
    /* background-color: white; */
    border-right: 2px solid black;
    padding-right: 0.5vmax;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 4vmax;
    color: #d0d0d5;
}
nav ul>li>button{
    background-color: #47CF73;
    color: black;
    padding: 0.7vmax 1vmax;
    border-radius: 5px;
    border: 0;
}

.page1{
    width: 100%;
    height: 100vh;
    background-color: #131417;
    font-family: "Roboto";


}
.p1-left{
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    background-image: url("https://www.cowin.gov.in/assets/images/free_covid_precaution_dose.svg");
}
.p1-right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5vmax 0.1vmax;
    
}
.p1-right >h1{
    font-size: 5vmax;
    color: white;
}
.p1-right >h1>span{
    color: #47CF73;
}
.p1-right >h2>span{
    color: #47CF73;
}
.p1-right >h2{
    width: 100%;
    font-size: 1.2vmax;
    color: #9e9fa3;
}

/* ------------------------------- page 2 */

.page2{
    width: 100vw;
    height: 60vh;
    background-color: #252830;
    display: flex;
    justify-content: space-between;
    font-family: "Roboto";

}
.page2 img{
    width: 30%;
    margin-right: 12vmax;
    /* background-color: yellow; */
}
.page2 div{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 5vmax;
    color: white;
    font-family: "Roboto";
    /* background-color: rgb(42, 158, 131); */


}

.page2 div>h1{
    width: 100%;
    color: white;
    word-spacing: 0.1vmax;
    letter-spacing: 0.4vmax;
}
.page2 div>p{
    width: 90%;
    color: #9e9fa3;
    margin-top: 1vmax;
    font-size: 1.1vmax;
}
/* ------------------------------- page 3 */

.page3{
    width: 100vw;
    height: 60vh;
    background-color: #252830;
    display: flex;
    justify-content: space-between;
    font-family: "Roboto";

}
.page3 img{
    width: 30%;
    margin-left: 10vmax;
    /* background-color: yellow; */
}
.page3 div{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 5vmax;
    color: white;
    font-family: "Roboto";
    /* background-color: rgb(42, 158, 131); */


}

.page3 div>h1{
    width: 100%;
    color: white;
    word-spacing: 0.1vmax;
    letter-spacing: 0.4vmax;
}
.page3 div>p{
    width: 90%;
    color: #9e9fa3;
    margin-top: 1vmax;
    font-size: 1.1vmax;
}

/* --------------------page 4 */
.page4{
    width: 100vw;
    height: 60vh;
    background-color: #252830;
    display: flex;
    justify-content: space-between;
    font-family: "Roboto";

}
.page4 img{
    width: 30%;
    margin-right: 12vmax;
    /* background-color: yellow; */
}
.page4 div{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 5vmax;
    color: white;
    font-family: "Roboto";
    /* background-color: rgb(42, 158, 131); */


}

.page4 div>h1{
    width: 100%;
    color: white;
    word-spacing: 0.1vmax;
    letter-spacing: 0.4vmax;
}
.page4 div>p{
    width: 90%;
    color: #9e9fa3;
    margin-top: 1vmax;
    font-size: 1.1vmax;
}

/* ======================================= Footer ============================================= */

footer{
    width: 100%;
    height: 55vh;
    background-color: rgb(255, 255, 255);
    display: flex;

}
footer div{
    width: 50%;
    height: 100%;
}
.footerDiv1{
     font-family: 'Encode Sans SC', sans-serif;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
    

}
.footerDiv1 div{
    height: 70%;
    width: 100%;
    
}
.footerDiv1 div>form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.emailspan{
    height: 7vmax;
    width: 100%;
   padding-left: 10vmax;
}
.emailspan>input{
    width: 17vmax;
    height: 25%;
    border-radius: 50px;
    background-color: #282937;
    border: none;
    padding:1.5vmax 5vmax;
    margin-top: 1vmax;
}
.emailspan button{
    width: 5vmax;
    background-color: #38A3A5;
    color: white;
    border: none;
    height: 47%;
    border-radius: 50px;
    margin-right: 10vmax;
}
.copyright{
    color: #93939A;
    margin-bottom: 2vmax;
}
.logoSpan{
    display: flex;
    height: 100%;
    width: 100%;
    margin-left: 8vmax;
    margin-top: 10vmax;
    align-items: center;
    justify-content: start;
}

.logo img{
    width: 15vmax;
}
.footerDiv2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.footerDiv2 ul{
    list-style: none;

}
.footerDiv-top{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    padding: 2vmax;
    /* padding-top: 5vmax; */
}
.footerDiv-bottom{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* ================== white bar */

.whiteBar{
    width: 100vw;
    height: 7vh;
    background-color: rgba(228, 223, 223, 0.749);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 3vmax;
}
.whiteBar div> img{
    width: 1.5vmax;
}
.whiteBar h6{
    font-size: 0.5vmax;
}
.whitebarLogo1{
    width: 4vmax;
}

/* ==================================== signin page -------------------- */

.signinMain{
    width: 100vw;
    display: flex;
    background-color: #efecec95;
}
.signinLeft{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signinLeft form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signinLeft form>h6>a{
    text-decoration: none;
    font-size: 1vmax;
}
.signinLeft form>input{
    width: 50%;
}
.signinLeft form>button{
    width: 40%;
    background-color: #53ae70;
    color: white;
    border: none;
}
.signinRight{
    width: 50%;
    height: 100vh;
    background-image: url("https://www.cowin.gov.in/assets/images/Children_Vaccination.svg");
    background-size: 95%;
    background-position: center;
    background-repeat: no-repeat;
    
}
.forgetBtn{
   width: 22vmax;
   margin-top: 1vmax;
   
}
.forgetPassBox{
    background-image: url("https://www.cowin.gov.in/assets/images/faq_Section.svg");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

/* ------------------------ Homepage properties */

.homeMain{
    width: 100vw;
    margin-top: 4.5vmax;
    background-image: url("https://www.cowin.gov.in/assets/images/Precaution_dose.svg");
    background-size: contain;
    background-position:center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.slotViewWindow{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vmax;
    padding: 5vmax 0;
}
.detailsBox{
    width: 80%;
    height: 40vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px #79797a;
    border-radius: 7px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 2;
}

.headHome{
    -webkit-text-stroke: 0.7px white;
    font-size: 3vmax;
    top: 0;
    left: 0;
    z-index: 2;
}
.userName{
    color: #47895c;
    font-family: "Roboto";
}
.detailsBox-top{
    width: 100%;
    height: 50%;
    background-color: rgba(128, 128, 128, 0.091);
    border-bottom: 1px solid gray;
    padding:0 1vmax ;
    display: flex;
}
.detailsBox-top-left{
    width: 12%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: "Roboto";

}
.detailsBox-top-left i{
    font-size: 3vmax;
    color: rgb(95, 92, 92);
}
.detailsBox-top-right{
    width: 85%;
    height: 100%;
}
.detailsBoxNameDiv{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1vmax;
}
.detailsBoxInfoDiv{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.2vmax;
    font-family: "Roboto";

}
.detailsBox-bottom{
    width: 100%;
    height: 50%;
    display: flex;
    padding-top: 3vmax;
}
.detailsBox-bottom >.slotStatusDiv{
    width: 50%;
    height: 50%;
    border-radius: 7px;
   
}

.detailsBox-bottom div:first-child{
    padding-left: 10vmax;
     display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
}
.slotDetails{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* .address{
    width: 80%;
    height: 80%;
    background-color: blue;
} */

/* --------------------------Booking page */
.bookingContainer{
     width: 100vw;
     min-height: 850vh;
    /* min-height: 100vh; */
     background-image: url("https://www.cowin.gov.in/assets/images/partners_page.svg");
    background-size: 30%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 6vmax;
    font-family: "Roboto";
}
.BookingMain{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vmax;
    position: absolute;
    z-index: 5000;
    padding-top: 3vmax;
   

}
.overlayBooking{
    width: 100vw;
    /* min-height: 100vh;  */
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255,0.5);
    z-index: 1000;
}
.centerInfo{
    width: 50vw;
    height: 20vh;
    border-radius: 5px;
    box-shadow: 0 0 5px #79797a;
    background-color: white;
    padding: 1.1vmax 1vmax;
}
.BookHead{
    -webkit-text-stroke: 0.3px white;
}
.slot{
    font-size: 1vmax;
    font-weight: 500;
}
.date{
    font-family: "Roboto Light";
}
.sorryBox{
    width: 100vw;
    height: 100vh;
    background-image: url("https://www.cowin.gov.in/assets/images/Step_1.svg");
    background-size: 30%;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

